div.line-cont {
    width: 100%;
    display: flex;
    justify-content: center;
        h3 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: #353333;
        text-transform: uppercase;
        position: relative;
        width: fit-content;
        padding: .5rem 0;

        &::after {
            content: '';
            position: absolute;
            width: 50%;
            height: 4px;
            background-color: #353333;
            bottom: 0;
            left: 0px;
            margin: 0 0 -5px 0;
        }
    }
}