.__index .index-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 760px) {
  .__index .index-container {
    flex-direction: row;
  }
}
.__index .index-container__image-cont {
  width: 70%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../public/assets/images/hunters-race-MYbhN8KaaEc-unsplash.jpg) no-repeat center;
  background-size: cover;
  display: none;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__image-cont {
    display: flex;
  }
}
.__index .index-container__image-cont article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.__index .index-container__image-cont article img {
  width: 60px;
}
.__index .index-container__image-cont article div {
  display: flex;
}
.__index .index-container__image-cont article div p {
  color: white;
  font-size: 3.5rem;
  margin: -5px 0;
  font-family: "Arial";
  position: relative;
  letter-spacing: -5px;
}
.__index .index-container__image-cont article div p::first-letter {
  color: #030616;
  font-weight: 600;
  font-size: 5rem;
}
.__index .index-container__image-cont article div p::before {
  content: " ";
  width: 5px;
  height: 60px;
  background-color: #fff;
  position: absolute;
  margin: -6px;
  top: 27px;
}
.__index .index-container__text-cont {
  width: 100%;
  background-color: rgba(3, 6, 22, 0.9);
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 3fr 2fr;
  }
}
.__index .index-container__text-cont__header-cont {
  width: 100%;
  display: none;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__header-cont {
    display: block;
  }
}
.__index .index-container__text-cont__header-cont header {
  height: 100%;
  padding: 0 0.3rem;
  display: flex;
}
.__index .index-container__text-cont__header-cont header .logo {
  width: 17%;
  padding: 0.5rem 0rem;
}
.__index .index-container__text-cont__header-cont header .logo img {
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.__index .index-container__text-cont__header-cont header section {
  width: 83%;
  display: flex;
  align-items: center;
  font-family: "Calibri Light";
}
.__index .index-container__text-cont__header-cont header section div {
  width: 100%;
  font-family: "Calibri Light";
  text-transform: capitalize;
  font-size: 0.9rem;
  position: relative;
  padding-top: 0.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  position: relative;
  color: white;
}
.__index .index-container__text-cont__header-cont header section div:last-child {
  display: flex;
  justify-content: flex-end;
}
.__index .index-container__text-cont__header-cont header section div span {
  position: absolute;
  color: white;
  font-size: 3rem;
  top: 0;
  top: -30px;
  left: -17px;
}
.__index .index-container__text-cont__header-cont header section div::before {
  content: " ";
  width: 70%;
  height: 2px;
  background-color: wheat;
  position: absolute;
  top: 0;
  transition: transform 250ms ease-in;
  transform-origin: left;
  transform: scaleX(0);
}
.__index .index-container__text-cont__header-cont header section div:hover::before {
  transform: scaleX(1);
  transform-origin: center;
}
.__index .index-container__text-cont__header-cont header section div:last-child::before {
  width: 0;
}
.__index .index-container__text-cont__header-cont header section div > button {
  width: 100px;
  background-color: wheat;
  color: black;
  border: none;
  padding: 0.5rem 0.2rem;
  border-radius: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.__index .index-container__text-cont__header-cont header section div > button:hover {
  border: 1px solid wheat;
  background-color: transparent;
  color: white;
}
.__index .index-container__text-cont__img-cont {
  padding-top: 0.5rem;
  background-color: gray;
  background: linear-gradient(90deg, rgba(6, 11, 39, 0.6), rgba(10, 15, 46, 0.7)), url(../../../public/assets/images/micheile-dot-com-ZVprbBmT8QA-unsplash.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin: 0;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__img-cont {
    display: flex;
    margin-top: 1rem;
    height: 100%;
    padding-top: 3px;
  }
}
.__index .index-container__text-cont__img-cont .navigations {
  position: static;
  width: 95%;
  display: flex;
  height: auto;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__img-cont .navigations {
    position: absolute;
    width: 100%;
    height: 35px;
    top: 0;
    top: -5px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
}
.__index .index-container__text-cont__img-cont .navigations nav {
  width: 60%;
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Calibri Light";
  padding: 0;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__img-cont .navigations nav {
    width: 60%;
    background-color: transparent;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 400px) {
  .__index .index-container__text-cont__img-cont .navigations nav {
    flex-direction: column;
  }
}
.__index .index-container__text-cont__img-cont .navigations nav div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.2em 0rem;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__img-cont .navigations nav div {
    font-size: 0.9;
  }
}
.__index .index-container__text-cont__img-cont .navigations nav .active {
  background-color: transparent;
  color: #030616;
  border: 1px solid white;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__img-cont .navigations nav .active {
    background-color: #030616;
    color: white;
  }
}
.__index .index-container__text-cont__img-cont section {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-left: 0.5rem;
  margin-top: 0rem;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__img-cont section {
    margin-top: 1.5rem;
    height: 100%;
  }
}
@media only screen and (min-width: 970px) {
  .__index .index-container__text-cont__img-cont section {
    align-items: center;
  }
}
.__index .index-container__text-cont__img-cont section h1 {
  text-align: left;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  padding-left: 0rem;
  margin: 0;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__img-cont section h1 {
    margin: 20px 0;
    font-size: 2.2rem;
    width: 70%;
    min-width: 330px;
  }
}
.__index .index-container__text-cont__img-cont section form {
  margin-top: 1.5rem;
  display: flex;
  width: 70%;
  flex-direction: column;
  position: relative;
}
.__index .index-container__text-cont__img-cont section form .err-cont {
  background-color: #ffcccc;
  padding: 0.2rem 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 0.3rem;
  border-radius: 5px;
  font-family: "Calibri Light";
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  top: -20px;
}
.__index .index-container__text-cont__img-cont section form .loader-container {
  justify-content: flex-start;
  padding-top: 0.3rem;
}
.__index .index-container__text-cont__img-cont section form .school-cont {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.__index .index-container__text-cont__img-cont section form input {
  padding: 0.7rem 1.2rem;
  width: 50%;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 0.5rem 0;
  height: 100%;
}
.__index .index-container__text-cont__img-cont section form input::-moz-placeholder {
  font-size: 0.9rem;
}
.__index .index-container__text-cont__img-cont section form input:-ms-input-placeholder {
  font-size: 0.9rem;
}
.__index .index-container__text-cont__img-cont section form input::placeholder {
  font-size: 0.9rem;
}
.__index .index-container__text-cont__img-cont section form input:focus {
  box-shadow: 0px 0px 20px #030616;
}
.__index .index-container__text-cont__img-cont section form button {
  max-width: 70px;
  min-width: 70px;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(6, 11, 36, 0.9);
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Calibri Light";
}
.__index .index-container__text-cont__img-cont section form button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 250ms ease-in;
  transform-origin: bottom right;
  transform: scaleX(0);
}
.__index .index-container__text-cont__img-cont section form button:hover::before {
  transform: scaleX(1);
  transform-origin: left top;
}
.__index .index-container__text-cont__img-cont section form .reg-admin {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.__index .index-container__text-cont__img-cont section form .reg-admin .disabled_schoolName {
  color: black;
  font-weight: bold;
  padding: 0.2rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.__index .index-container__text-cont__img-cont section form .reg-admin input {
  width: 53%;
  margin-bottom: 0.5rem;
  border-radius: 2px;
}
.__index .index-container__text-cont__img-cont section form .reg-admin input:focus {
  box-shadow: none;
}
.__index .index-container__text-cont__img-cont section form .reg-admin button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem 3rem;
  margin: 0.5rem auto 0.7rem auto;
  background-color: rgb(10, 14, 36);
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__img-cont section form .reg-admin button {
    max-width: 98px;
    max-height: 38px;
    border-radius: 2px;
  }
}
.__index .index-container__text-cont__others {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.__index .index-container__text-cont__others section {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #030616;
  padding: 1rem 0.2rem;
}
.__index .index-container__text-cont__others .our-services {
  text-align: center;
}
.__index .index-container__text-cont__others .our-services h2 {
  margin-top: 16px;
}
.__index .index-container__text-cont__others .our-services .box-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__others .our-services .box-container {
    flex-direction: row;
  }
}
.__index .index-container__text-cont__others .our-services .box-container .boxes {
  width: 90%;
  padding: 1rem 1rem 1rem;
  margin: 0.3rem 0;
  border-radius: 10px;
  font-family: "Calibri Light";
  text-align: left;
}
@media only screen and (min-width: 760px) {
  .__index .index-container__text-cont__others .our-services .box-container .boxes {
    margin: 0 0.6rem;
  }
}/*# sourceMappingURL=index.css.map */