$primary-Color: #030616;
$secondary-color: whitesmoke;
$accent-color:wheat;
@mixin pad {
    @media only screen and (min-width:700px) {
        @content;
    }
}
@mixin desktop {
    @media only screen and (min-width:950px) {
        @content;
    }
}
@mixin small {
    @media only screen and (max-width:400px) {
        @content;
    }
}
.__payment {
    width:100%;
    padding-right: 0;
    @include pad{
        height: 80vh;
        overflow: auto;
        padding-right: 1.5rem;
    }

    h2 {
        padding: 0rem 0rem .7rem;
        border-bottom: 1px solid rgb(27, 18, 18);
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        // gap: .5rem;
        border: 2px solid #030616;
        border-top: 5px solid #030616;
        border-radius: 10px;
        position: relative;
        margin: 1rem auto;
        @include pad{
            width: 80%;
            margin: 1rem auto;
            padding: 1rem 1rem;
        }
        .auto-remark-cont{
            padding-left: 1rem;
            padding-right: 5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            @include pad{
                justify-content: flex-start;
            }
            span {
                font-size: 15px;
                @include pad{
                    width: 20%;
                }
            }
            #auto-remark{
            background-color: red;

        }
    }
        div.input-cont {
            // background-color: red;
            padding: .7rem 1rem;
            display: flex;
            font-size: 15px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            @include pad{
                flex-direction: row;
                align-items: center;
            }
            // &:first-child{
            //     input{
            //         &:focus{
            //         border-bottom-left-radius: 0px;
            //         border-bottom-right-radius: 0px;
            //         border-bottom: none;
            //         outline: none;
            //         }
            //     }
            // }
            
            input, select, textarea{
                flex: 1;
                padding: .7rem;
                border: none;
                border: 1px solid grey;
                border-radius: 5px;
                resize: none;
                appearance: none;
                outline: none;
                width: 100%;
            }
            input:disabled{
                background-color: #eee;
            }
           
            label {
                padding: 0 0 .2rem;
                @include pad{
                    width: 25%;

                }
            }
        }
        .output-names {
            background-color: #e4e4e4;
            position: absolute;
            top: 0;
            margin-top: 67px;
            margin-left: 10rem;
            width: 70.8%;

            .names{
                margin: 0;
                padding: .1rem .5rem;
                color: black;
                line-height: 30px;
                cursor: pointer;
                &:hover{
                    background-color: grey;
                }

                span {
                    text-transform: capitalize;
                    font-size: small;
                }
            }
        }
        .btn-cont{
            display: flex;
            gap: 2rem;
            padding: 1rem 1rem .5rem;
            justify-content: flex-end;
            margin-bottom: .5rem;
            @include pad{
                margin-bottom: 0;
            }
            button {
                flex-grow: 0;
                display: inline-block;
                width: fit-content;
                padding: .5rem 1rem;
                border: none;
                background-color: #030616;
                color: white;
                cursor: pointer;
                border-radius: 3px;

                &:first-child{
                    background-color: #c5d7e5;
                    color: black;
                }
            }
        }
    }
}