.index-container {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: gray;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: auto;

    &__image-cont {
        background: linear-gradient(
    90deg,
    rgba(0,0,0, 0.7),
    rgba(0,0,0, 0.7)
  ),url(../../../public/assets/images/hunters-race-MYbhN8KaaEc-unsplash.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    article{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 60px;
        }
        div {
            display: flex;
            p{
                color: white;
                font-size: 3.5rem;
                margin: -5px 0;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                position: relative;
                letter-spacing: -5px;
                    &::first-letter{
                    color: #75e406;
                    font-weight: 600;
                    font-size: 5rem;
                    }
                &::before {
                    content: ' ';
                    width: 5px;
                    height: 60px;
                    background-color: #fff;
                    position: absolute;
                    margin: -6px;
                    top: 27px;
                }
            }
        }
       
    }
    }
    &__text-cont {
        background-color: white;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 0.3fr 3fr 2fr;

        &__header-cont {
            width: 100%;
            display: block;
            header{
                height: 100%;
                padding: 0 .3rem;
                display: flex;

                .logo{
                    width: 20%;
                    padding: .5rem 0rem;
                    img{
                        width: 80px;
                        object-fit: contain;
                    }
                }
                section{
                    width: 80%;
                    display: flex;
                    align-items: center;
                    div{
                        font-family: 'tahoma';
                        text-transform: capitalize;
                        font-size: .9rem;
                        position: relative;
                        padding-top: .3rem;
                        margin-right: 2rem;
                        cursor: pointer;
                        position: relative;

                        span {
                            position: absolute;
                            color: #5aa80b;
                            font-size: 3rem;
                            top: 0;
                            top: -30px;
                            left: -17px;
                            
                        }
                    &::before {
                        content: ' ';
                        width: 70%;
                        height: 2px;
                        background-color: #353333;
                        position: absolute;
                        top: 0;
                        transition: transform 250ms ease-in;
                        transform-origin: left;
                        transform: scaleX(0);
                    }
                        &:hover::before{
                            transform: scaleX(1);
                            transform-origin: center;
                    }
                    &:last-child::before{
                        width: 0;
                    }
                    }
                    div > button {
                        background-color: #5aa80b;
                        color: white;
                        border: none;
                        padding: .7rem 1.2rem;
                        border-radius: 50px;
                        display: flex;
                        margin-left: .8rem;
                    }

                }
            }
        }

        &__img-cont {
            padding-top: 3px;
            margin-top: 1rem;
            background-color: gray;
            background: linear-gradient(
                90deg,
                rgba(0,0,0, 0.7),
                rgba(0,0,0, 0.7)
              ),url(../../../public/assets/images/micheile-dot-com-ZVprbBmT8QA-unsplash.jpg) no-repeat center;
                background-size: cover;
                position: relative;
                .navigations {
                    position: absolute;
                    width: 100%;
                    height: 40px;
                    background-color: transparent;
                    top: 0;
                    top: -13px;
                    // left: 10rem;
                    margin: 0 auto;
                    display: flex;
                    padding: 0;
                    
                    nav {
                        width: 50%;
                        display: flex;
                        background-color: black;
                        color: #fff;
                        justify-content: flex-start;
                        align-items: center;
                        font-family: Arial, Helvetica, sans-serif;
                        padding: 0;
                        margin: 0 auto;
                        
                        div{
                            width: 100%;
                            padding: .67rem 0rem;
                            text-align: center;
                            cursor: pointer;
                        }
                            .active{
                                background-color: #5aa80b;
                            }
                    }
                }
                section {
                    width: auto;
                    padding-left: 5rem;
                    margin-top: 2.5rem;
                    h1 {
                        text-align: left;
                        color: white;
                        font-size: 2.5rem;
                        font-family: Arial, Helvetica, sans-serif;
                        text-transform: capitalize;
                        width: 80%;
                        padding-left: 0rem;
                    }
                    form {
                        margin-top: .6rem;
                        display: flex;
                        width: 70%;
                        flex-direction: column;
                        // margin-top: -10px;
                        // padding-left: 0rem;

                        .err-cont {
                            background-color: lighten(red, 40%);
                            padding: .3rem;
                            width: max-content;
                            margin-bottom: .3rem;
                            border-radius: 5px;
                            font-family: 'Franklin Gothic';
                        }
                        .loader-container{
                            justify-content: flex-start;
                            padding-top: .3rem;
                        }
                        .school-cont{
                            width: 100%;
                            display: flex;
                            align-items: center;
                        }
                            input {
                                padding: .6rem 1.2rem;
                                width: 60%;
                                border: none;
                                border-top-left-radius: 5px;
                                border-bottom-left-radius: 5px;
                                outline: none;
                                font-size: 1rem;
                                margin: .5rem 0;
                                &::placeholder{
                                    font-size: .9rem;
                                }
                                &:focus {
                                    box-shadow: 0px 0px 20px #5aa80b;
                                }
                            }
                            button {
                                padding: .7rem 1.2rem;
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;
                                background-color: #5aa80b;
                                text-transform: uppercase;
                                cursor: pointer;
                                border: none;
                                color: white;
                                position: relative;
    
                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    background-color: rgba(0, 0, 0, 0.1);
                                    border-radius: 5px;
                                    transition: transform 250ms ease-in;
                                    transform-origin: bottom right;
                                    transform: scaleX(0);
                                }
                                &:hover::before {
                                    transform: scaleX(1);
                                    transform-origin: left top;
                                }
                            }
                        .reg-admin {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            .disabled_schoolName{
                                color: black;
                                font-weight: bold;
                                padding: .2rem 0;
                                width: fit-content;
                                border-top-left-radius: 50px;
                                border-bottom-left-radius: 50px;
                                padding-left: 10px;
                                
                            }
                            input {
                                width: 53%;
                                margin-bottom: .5rem;
                                &:focus{
                                    box-shadow: none;
                                }
                            }
                            button {
                                width: fit-content;
                                border-radius: 0;
                                margin: .2rem auto .2rem auto;
                                // margin-left: 10px;
                            }
                        }
                    }
                }
        }
        &__others {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            section {
                display: flex;
                flex-direction: column;
            }
            .our-services {
                .box-container {
                    display: flex;
                }
            }
        }
       }
}