.index-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: gray;
  -ms-grid-columns: 1fr 1.2fr;
      grid-template-columns: 1fr 1.2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.index-container__image-cont {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../../../public/assets/images/hunters-race-MYbhN8KaaEc-unsplash.jpg) no-repeat center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../public/assets/images/hunters-race-MYbhN8KaaEc-unsplash.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-container__image-cont article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-container__image-cont article img {
  width: 60px;
}

.index-container__image-cont article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-container__image-cont article div p {
  color: white;
  font-size: 3.5rem;
  margin: -5px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  letter-spacing: -5px;
}

.index-container__image-cont article div p::first-letter {
  color: #75e406;
  font-weight: 600;
  font-size: 5rem;
}

.index-container__image-cont article div p::before {
  content: ' ';
  width: 5px;
  height: 60px;
  background-color: #fff;
  position: absolute;
  margin: -6px;
  top: 27px;
}

.index-container__text-cont {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 0.3fr 3fr 2fr;
      grid-template-rows: 0.3fr 3fr 2fr;
}

.index-container__text-cont__header-cont {
  width: 100%;
  display: block;
}

.index-container__text-cont__header-cont header {
  height: 100%;
  padding: 0 .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-container__text-cont__header-cont header .logo {
  width: 20%;
  padding: .5rem 0rem;
}

.index-container__text-cont__header-cont header .logo img {
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.index-container__text-cont__header-cont header section {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-container__text-cont__header-cont header section div {
  font-family: 'tahoma';
  text-transform: capitalize;
  font-size: .9rem;
  position: relative;
  padding-top: .3rem;
  margin-right: 2rem;
  cursor: pointer;
  position: relative;
}

.index-container__text-cont__header-cont header section div span {
  position: absolute;
  color: #5aa80b;
  font-size: 3rem;
  top: 0;
  top: -30px;
  left: -17px;
}

.index-container__text-cont__header-cont header section div::before {
  content: ' ';
  width: 70%;
  height: 2px;
  background-color: #353333;
  position: absolute;
  top: 0;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.index-container__text-cont__header-cont header section div:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.index-container__text-cont__header-cont header section div:last-child::before {
  width: 0;
}

.index-container__text-cont__header-cont header section div > button {
  background-color: #5aa80b;
  color: white;
  border: none;
  padding: .7rem 1.2rem;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: .8rem;
}

.index-container__text-cont__img-cont {
  padding-top: 3px;
  margin-top: 1rem;
  background-color: gray;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../../../public/assets/images/micheile-dot-com-ZVprbBmT8QA-unsplash.jpg) no-repeat center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../public/assets/images/micheile-dot-com-ZVprbBmT8QA-unsplash.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.index-container__text-cont__img-cont .navigations {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: transparent;
  top: 0;
  top: -13px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.index-container__text-cont__img-cont .navigations nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0 auto;
}

.index-container__text-cont__img-cont .navigations nav div {
  width: 100%;
  padding: .67rem 0rem;
  text-align: center;
  cursor: pointer;
}

.index-container__text-cont__img-cont .navigations nav .active {
  background-color: #5aa80b;
}

.index-container__text-cont__img-cont section {
  width: auto;
  padding-left: 5rem;
  margin-top: 2.5rem;
}

.index-container__text-cont__img-cont section h1 {
  text-align: left;
  color: white;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  width: 80%;
  padding-left: 0rem;
}

.index-container__text-cont__img-cont section form {
  margin-top: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-container__text-cont__img-cont section form .err-cont {
  background-color: #ffcccc;
  padding: .3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: .3rem;
  border-radius: 5px;
  font-family: 'Franklin Gothic';
}

.index-container__text-cont__img-cont section form .loader-container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: .3rem;
}

.index-container__text-cont__img-cont section form .school-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-container__text-cont__img-cont section form input {
  padding: .6rem 1.2rem;
  width: 60%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  font-size: 1rem;
  margin: .5rem 0;
}

.index-container__text-cont__img-cont section form input::-webkit-input-placeholder {
  font-size: .9rem;
}

.index-container__text-cont__img-cont section form input:-ms-input-placeholder {
  font-size: .9rem;
}

.index-container__text-cont__img-cont section form input::-ms-input-placeholder {
  font-size: .9rem;
}

.index-container__text-cont__img-cont section form input::placeholder {
  font-size: .9rem;
}

.index-container__text-cont__img-cont section form input:focus {
  -webkit-box-shadow: 0px 0px 20px #5aa80b;
          box-shadow: 0px 0px 20px #5aa80b;
}

.index-container__text-cont__img-cont section form button {
  padding: .7rem 1.2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #5aa80b;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  color: white;
  position: relative;
}

.index-container__text-cont__img-cont section form button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.index-container__text-cont__img-cont section form button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.index-container__text-cont__img-cont section form .reg-admin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-container__text-cont__img-cont section form .reg-admin .disabled_schoolName {
  color: black;
  font-weight: bold;
  padding: .2rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 10px;
}

.index-container__text-cont__img-cont section form .reg-admin input {
  width: 53%;
  margin-bottom: .5rem;
}

.index-container__text-cont__img-cont section form .reg-admin input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.index-container__text-cont__img-cont section form .reg-admin button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0;
  margin: .2rem auto .2rem auto;
}

.index-container__text-cont__others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.index-container__text-cont__others section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-container__text-cont__others .our-services .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=index.css.map */